
@{
    ViewBag.Title = "Adress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <center>
        <div class="container mt-2" style="max-width: 69.5rem;">
            <hr>
            <span class="metro-text"><img src="@Url.Content("~/img/Mosmetro.png")" id="logo-metro" style="width: 3rem;"> Курская</span>
            <hr>
            <div class="row bg-light">
                <iframe style="margin-left: 0.5rem;" src="@Url.Content("https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2245.0039895690797!2d37.6543436!3d55.7584329!3m2!1i 1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46b54a8dd1a8f359%3A0x562114fc3541cfb1!2z0JrRg9GA0YHQutCw0Y8sINCc0L7RgdC60LLQsA!3m2  !1d55.7585407!2d37.6605302!4m5!1s0x46b54a8b62404343%3A0xdc4200e6eda70bcd!2z0JvRj9C70LjQvSDQv9C10YAuLCAyMiwg0JzQvtGB0L rQstCwLCAxMDUwNjQ!3m2!1d55.7576209!2d37.6527281!5e0!3m2!1sru!2sru!4v1552595976806")" width="1095" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <hr>
            <span class="metro-text"><img src="@Url.Content("~/img/Mosmetro.png")" id="logo-metro" style="width: 3rem;"> Сухаревская</span>
            <hr>
            <div class="row bg-light">
                <iframe style="margin-left: 0.5rem;" src="@Url.Content("https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d1122.1076115389842!2d37.6327667!3d55.7721338!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46b54a6f00c2a7ad%3A0x57f0c4a677704b!2z0KHRg9GF0LDRgNC10LLRgdC60LDRjywg0JzQvtGB0LrQstCw!3m2!1d55.772368799999995!2d37.6316918!4m5!1s0x46b54a6f0e9e38d7%3A0xe8cc9b9e362fccd!2z0J_QsNC90LrRgNCw0YLRjNC10LLRgdC60LjQuSDQv9C10YAuLCAyLCDQnNC-0YHQutCy0LAsIDEwNzA0NQ!3m2!1d55.771651899999995!2d37.633257799999996!5e0!3m2!1sru!2sru!4v1552598262769")" width="1095" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </center>
</body>
