
@{
    ViewBag.Title = "ScoreSystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <br>
                    <div class="timeline-content">
                        <div class="circle"><img src="https://img.icons8.com/ios/150/000000/discount.png" class="mt-2"></div>
                        <div class="content">
                            <span class="main-title">Выгодно?</span>
                            <h4 class="title">Баллы = скидки!</h4>
                            <p class="description">
                                Посетители любят выгодные предложения, а мы любим своих клиентов и готовы пойти им навстречу!
                                Вы можете получать наши кофе-баллы и даже ими обмениваться. <b>100 баллов - скидка 10%</b>, но и это не всё!
                                В наших кофейнях есть специальное меню, <b><span id="special-text">Вы можете приобретать еду и напитки за эти баллы!</span></b>
                            </p>
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>

                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle"><img src="https://img.icons8.com/ios/150/000000/checkmark-filled.png" class="mt-2"></div>
                        <div class="content">
                            <span class="main-title">Хочу!</span>
                            <h4 class="title">Как получать баллы?</h4>
                            <p class="description">
                                Для хранения баллов Вам нужно иметь личный кабинет, а значит - зарегистрироваться на нашем сайте, за что <b>Вы сразу получаете 50 баллов.</b> Также баллы можно получить:<br>
                                1) <b>(80 баллов)</b> За отправленный через сайт отзыв<br>
                                2) <b>(100 баллов)</b> Еженедельно в своём личном кабинете<br>
                                3) <b>(50 баллов)</b> Если Вы подписаны на inst: vkusnokofe<br>
                                4) <b>(50 баллов)</b> Попросите у бариста при оплате<br>
                                5) <b><span id="special-text">Следите за акциями!</span></b>
                            </p>
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>

                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle"><img src="https://img.icons8.com/material/150/000000/question-mark.png" class="mt-2"></div>
                        <div class="content">
                            <span class="main-title">Хммм...</span>
                            <h4 class="title">Немного подробнее...</h4>
                            <p class="description">
                                <b>
                                    <span id="special-text">
                                        Наши баллы - это валюта
                                    </span>
                                </b>, а не накопительная система, поэтому после их использования (покупки или перевода, или получения скидки) - <b>они будут потрачены.</b> Конечно, Вы сами решаете, какое количество хотите потратить и на что именно. <b>Баллы не всегда начисляются автоматически</b>, но не переживайте - наш бариста всегда наготове! Что продается за баллы в специальном меню? - Приходите и узнаете!
                            </p>
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>

                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle"><img src="@Url.Content("~/img/logo-face.png")" height="135" class="enot mt-3"></div>
                        <div class="content">
                            <span class="main-title">Это не всё!</span>
                            <h4 class="title">Дальше - больше!</h4>
                            <p class="description">
                                Те, кто уже какое-то время с нами, знают, что <b>мы не стоим на месте!</b> Система баллов - очередное наше уникальное новшество и далеко не последнее. <b><span id="special-text"> Будьте с нами, а мы продолжим Вас радовать!</span></b>
                            </p>
                            <div class="icon"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- ./row -->
</div><!-- ./container -->
